
.div_contaner{
    height: 2rem;
    width: 2rem;
    background-size:  cover;
    background-image: url(../../../../../assets/trash2-1024.webp);
    margin-bottom: 5px;
}
.dialog_contaner{
    padding-bottom: 2rem;
    padding-top: 2rem;
    height: 10rem;
    width: 15rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-style: none;
    box-sizing: border-box;
    // width: 200px;
}
.div_contaner_model{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.button{
    margin: 0.2rem;
    height: 2.6rem;
    width: 5rem;
    border-style: none;
    border-radius:5px;
    background-color:#1e5bbc;
    color:white;
    transition: 0.3s ease ;
    margin-top: 2rem;
}
.button:hover{
    background-color:#0e3168;
}